.grid {
  display: grid;
  grid-template-columns: 2fr 16fr 2fr 3fr;
}

.missionsTable {
  text-align: left;
  padding-top: 30px;
}

.tablerow {
  border-bottom: solid 1px #9c9c9c;
}

.tabletop {
  border-top: solid 1px #9c9c9c;
  height: 3rem;
}

.rightborder,
.tabletop h3 {
  border-right: solid 1px #9c9c9c;
  padding-left: 0.5rem;
}

.tablerow h3 {
  border-left: solid 1px #9c9c9c;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align {
  align-items: center;
}

#joinmission {
  border: rgb(0, 106, 255);
  color: rgb(179, 171, 171);
  border: 2px solid rgb(0, 0, 0);
  border: none;
  padding: 1%;
  border-radius: 5px;
  font-size: 12px;
}

#activemember {
  background-color: gray;;
  color: white;
  padding: 1px;
  font-size: 10px;
}

#activemember.active {
  background-color: rgb(0, 106, 255);;
  color: white;
  padding: 1px;
  font-size: 10px;
}

#joinmission {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  padding: 6px;
  font-size: 12px;
}

#joinmission.active {
  border: 2px solid rgb(218, 0, 0);
  color: red;
  padding: 6px;
  font-size: 12px;
}